body{
    margin: 0;
    overflow: hidden;
    background-image: url(../img/Design\ sem\ nome.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: end;
}

#Link_Home{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 5vh;
}

#Icone_sair{
    margin-top: 3vh;
    margin-right: 2vh;
    height: 4vh;
}

#login{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #7BACA8;
    width: 35%;
    height: 50vh;
    box-shadow: #000 5px 5px 25px;
    justify-content: center;
}

#logo{
    margin-top: 5%;
    width: 50%;
    margin-bottom: 3%;
}

#dashboard{
    width: 100%;
    height: 100vh;
}

#PBI{
    width: 100%;
    height: 100vh;
}

#login button{
    margin-top: 3%;
    margin-bottom: 5%;
    border: 0.5px solid #7BACA8;
    border-radius: 5px;
    width: 15%;
    height: 5vh;
    background-color: #11505E;
    color: white;
    font-size: medium;
    transition: 2s;
}

#login button:hover{
    width: 17%;
    background-color:#B63E3E;
    color: white;
    font-weight: 700;
    transition: 2s;
    border: #11505E 1px solid;
}


#login h2{
    color: #11505E;
    width: 80%;

}

#teste{
    text-align:center;
    border: 0.5px solid #11505E;
    border-radius: 3px;
    height: 4vh;
    width: 43%;
}

#teste::placeholder{
    color: #11505E;
    opacity: 0.3;
}

@media screen and (max-width: 1000px) {
  #login {
    width: 500px;
    height: 600px;
    overflow: hidden;
    white-space: nowrap;
  }

  #login h2{
    width: 70%;
}
}
